.container {
  padding-top: 5%;
  padding-bottom: 5%;

  height: 92vh;
  width: 92wh;
}

.productTitle {
  padding-bottom: 5%;
  padding-top: 5%;
}

.productCardContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}
